*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

div.box {
    width: 500px;
    margin: 10px auto;
    padding: 50px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}